$celeste: #BEE3DB;
$cuasiblanco: #FAF9F9;
$negro:#000;

.bgc-head {
	background-color:$celeste;
}
.bgc-main {
	background-color:$cuasiblanco;
}
.bgc-footer {
	background-color: $celeste;
}
.negro {
	color: $negro;
} 